@model IEnumerable<ToDoApp.Models.ToDoItem>

@{
    ViewData["Title"] = "Index";
}

<h1>All Tasks</h1>

<p>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left"><a asp-action="Create" class="btn btn-secondary text-dark btn-sm mb-3">Create New</a></div>
            <div class="col-md-6 text-right"><a asp-action="IndexOfIncompleteTasks" class="btn btn-primary btn-sm mb-3">View Incomplete Tasks</a></div>
            <div class="col-md-6 text-right"><a asp-action="IndexOfInProgressTasks" class="btn btn-primary btn-sm mb-3">View Tasks In Progress</a></div>
            <div class="col-md-6 text-right"><a asp-action="IndexOfCompleteTasks" class="btn btn-primary btn-sm mb-3">View Completed Tasks</a></div>
        </div>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Task
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDoStatus.Title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
